body {
    font-size: .875rem;
    color: black;
    line-height: 15px;
  }
  
main{
  .col-3{
    padding-bottom: 40px;
    .card{
     max-width: 300px;
     min-height: 500px;
    }
  }
  #phone-list{ 
   .card{
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        a{
      display: flex;
      align-items: center;
      gap: 5px;
      min-width: 140px;
      margin-left: 20px;
      margin-bottom: 10px;
      
      justify-content: space-between;
      span{
        width:80%;
        
      }
      i{
        width: 20%;
        font-size: 20px;
        color: white;
        
       
      }
    }
    
  }
  .add-to-card{
        background-color: #FB6702;
    width: 40%;
    border: 3px black;
    // position: relative;
    // bottom: 10px;
    // left: 20px;
  }
  }
  
}